@font-face {
    font-family: 'Lets Coffee';
    src: url('fonts/Lets-Coffee.eot');
    src: url('fonts/Lets-Coffee.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lets-Coffee.woff2') format('woff2'),
         url('fonts/Lets-Coffee.woff') format('woff'),
         url('fonts/Lets-Coffee.ttf')  format('truetype'),
         url('fonts/Lets-Coffee.svg#Lets Coffee') format('svg');
}

header {
    background-image: url('http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0271/4593/Wood_Planks_v1.0_-_25px_ea_shop_preview.png');
    display: block;
    width: 100%;
    margin: auto;
}

header.Title{
    font-family: 'Lets Coffee';
    font-size: 30px;
    display: boxed;
    font-style: italic;
}


.intro{
    font-weight: 200;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    background-image: url('https://i.pinimg.com/originals/85/b1/48/85b1489ae0d35e0f3e18219b5654fe44.png');
}

h3.steps{
font-size: 22px;
color:  black;
}

body {
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/End_Stone_background_BE1.png/revision/latest?cb=20210820070126');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}